body {
  font-family: Arial, sans-serif;
  margin: 2px;
  padding: 6px;
  background: #cc9b9b;
  color: #333;
  
}

header {
  background: #007acc;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(79, 34, 34, 0.1);
}

section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}
